.main{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 16px;
    margin-left: 32px;
    margin-right: 32px;
    font-family: 'Raleway', sans-serif;
    padding: 50px;
    padding-bottom: 0px;

}

.main  .perfil{
    grid-column: 1/3;
}

.main  .perfil h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: end;
    margin: 0;
}

.main .perfil h5{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: end;
    margin: 6px;
}

.main .perfil p{
    text-indent: 80px          
}


.main .foto{
    grid-column: 3/5;
}
.main .foto img{
    grid-column: 3/5;
    width: 100%;
}

.main .caracteristicas{
    grid-column: 5/7;

}
.main-section{
    padding: 20px;
}

.main-section__data{
    display: flex;
    justify-content: space-between;
}

.main-section__barra{
    padding: 0px;
    background: #CCCCCC;
}

.main-section__barra .aa{
    display: block;
    padding: 10px 0px;
    background: #bb457a;
}

.main-section__barra .fronend{
    width: 40%;
}
.main-section__barra .backend{
    width: 50%;
}
.main-section__barra .app{
    width: 5%;
}